
$BFont: 18px;
$px: 12px;
$px2: 24px;
$Margin: $px;
$border-radius: 60;
$home: 32px;
$bot: 48px;
$bot2: 36px;
$sml_pading: 2px;
%bot1 {
    color: $faded;
    padding: $sml_pading;
    font-family: $ff;
    margin-left: 100px;
}
$margin: $px2;
$fonts-L: $px2;
$padding: $px;
$ff: Calibri;
$faded: #f5f5f5;
$dark: #343434;
$acent: #45f3f099;
$complement: #ab2e15;

#container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    background-color: $acent;
    font-size: $BFont;
    margin: $Margin;
    padding: $padding;
    width: 1400px;
    border-radius: $border-radius;
    font-family: $ff;
    padding-right: $px2;
}

.main {
    float: right;
    margin-right: $px;
}

img {
    margin-left: $px2;
    width: 60px;
    border-radius: $border-radius;
    float: left
}


.PRp {
    font-size: $BFont;
    color: $faded;
    padding: $padding;
    font-family: $ff;
    margin-top: $px;
    margin-left: 100px;
    max-width: 1290px;
    text-align: justify
}

p, li {
    font-size: $BFont;
    color: $faded;
    margin: $Margin;
    padding: $sml_pading;
    font-family: $ff;
}

.home {
    font-size: 32px;
    color: $faded;
    margin: $Margin;
    padding: $sml_pading;
    font-family: $ff;
    margin: $margin;
    padding: $padding;
}

.abot {
    font-size: 48px;
    color: $faded;
    font-family: $ff;
    margin-left: 100px;
    margin-top: 70px;
    padding: $padding;
}

.abot2 {
    font-size: 36px;
    @extend %bot1;
    padding: $padding;
}

.abot3 {
    font-size: $fonts-L;
    @extend %bot1;
    padding: $padding;
    max-width: 480px;
    text-align: left
}

h1 {
    font-size: 128px;
    color: $faded;
    margin: $Margin;
    padding: $padding;
    font-family: $ff;
}



/* unvisited link */
a:link {
    color: $complement;
}

/* visited link */
a:visited {
    color: White;
    font-size: $BFont;
    color: $faded;
    margin: $Margin;
    padding: $sml_pading;
    font-family: $ff;
}

/* mouse over link */
a:hover {
    color: $complement;
    font-size: $fonts-L;
    color: $faded;
    margin: $Margin;
    padding: $sml_pading;
    font-family: $ff;
}

/* selected link */
a:active {
    color: $acent;
}

@media (min-width: 1200px) {
    body {
        background-color: $dark
    }
}

@media (max-width: 599px) {
    body {
        background-color: $dark
    }

    p {
        color: $faded
    }

    .PRp {
        margin-left: 1px;
    }
}