@import "_var";

.about1 {
    font-size: 48px;
    margin-top: $px2;
    @extend %bdy;
}

.about2 {
    font-size: 36px;
    @extend %bdy;
}

.about3 {
    font-size: $fonts-L;
    @extend %bdy;
    max-width: 480px;
    text-align: left
}

.about_img 
{
    margin-left: 24px; 
    width: 500px; 
    padding: 24px; 
    border-radius: 60px; 
    float: right
}