@import "_var";

.home {
    font-size: 32px;
    color: $faded;
    margin: $Margin;
    padding: $sml_pading;
    font-family: $ff;
    margin: $margin;
    padding: $padding;
}

h1 {
    font-size: 128px;
    color: $faded;
    margin: $Margin;
    padding: $padding;
    font-family: $ff;
}