@import "_var";

._main_discription {
    font-size: 32px;
    color: $faded;
    margin: $Margin;
    padding: $sml_pading;
    font-family: $ff;
    margin: $margin;
    padding: $padding;
}

._main_title {
    font-size: 128px;
    color: $faded;
    margin: $Margin;
    padding: $padding;
    font-family: $ff;
}