<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>not Documet</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <h1>Heading</h1>
        <h2>Second heading</h2>
    </header>
        <h3>content</h3>
        <h6>content discruption 1</h6>
        <h6>content discruption 2</h6>
        <h6>content discruption 3</h6>
</body>
</html>